.carousel-inner img {
    width: 100%;
     height: 500px;
}

#zoom:hover{
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}	

#link:hover{
    font-size: 25px;
}

#panvelName h1{
    font-size:60px;
    margin-top: 30px;
}
.quote{
    text-align: justify; 
    margin-left: 20%;
}
.marathi{
    text-align:center; 
    font-weight:10px;
}
.Fnames{
    font-size: 40px;
    font-weight:500;
font-family: Arial, Helvetica, sans-serif;
}
#plan:hover {
    text-decoration: underline;
    color: #ff471a;
  }

  #zoom:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .karnala {
    height:330px;
    width: 100%;
  }
  .leftkarnala {
    margin-right: 10px;
    float: left;
  }
  .que{
    font-size: 30px;
    font-weight: 500;
  }
  #liForts{
    text-align:center;
    font-size: 40px;
    font-weight: 600;
  }
  #wplan{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
.swamiQuote{
    font-size: 23px; 
    line-height:28px; 
    text-align:center;
}
.parapoints{
    font-size: 20px; 
    line-height: 28px; 
  
}
#relig{
    font-size: 40px;
    text-align:center;
    font-weight: 600;
}
.relText{
    font-size: 18px;
    line-height: 27px;
    text-align: justify;

}
.TempelTitles{
    font-size: 25px;
    font-weight: 600; 
}
.greenHead{
    font-size: 40px;
    text-align:center;
    font-weight: 600;
}
.Waterplace{
    font-size: 40px;
    text-align:center;
    font-weight: 600;
}
.Waterplaces{
    font-size: 35px;
    font-weight: 500;
}
.waterPara{
    font-size: 20px; 
    line-height: 28px; 
    text-align: justify;
}
.formpara{
    text-align: center; 
    padding-top: 15px; 
}
#submitBtn{
    font-size: 18px; 
    width: 120px; 
    margin-left:200px; 
    background: #77b300;
    border:1px solid #77b300;
}

@media(max-width: 995px) and (min-width: 770px){
    #panvelName h1{
    font-size:50px;
    margin-top: 25px;
}
}


body {
              background-color: white;
              color: black;
        
            }
            
            .dark-mode {
              background-color: black;
              color: white;
            }
            .darkmode{
                margin-top: 50px;
                text-align: center;
                font-size: medium;
                font-family: 'Times New Roman', Times, serif;
                border:none;
                padding:5px 10px;
                border:1px solid black;
                border-radius:10px;
                background-color: black;
                color:white
                
            

            }
            @media(max-width: 769px) and (min-width: 550px){
    #panvelName h1{
    font-size:35px;
    margin-top:20px;
}
.darkmode{
                margin-top: 30px;
                text-align: center;
                font-size: 12px;
                font-family: 'Times New Roman', Times, serif;
            }
}
@media(max-width: 546px) and (min-width: 495px){
    #panvelName h1{
    font-size:30px;
    margin-top:17px;
}
.darkmode{
                margin-top: 22px;
                text-align: center;
                font-size: 10px;
                font-family: 'Times New Roman', Times, serif;	
            }
}


@media(max-width: 495px) and (min-width: 330px){
    #panvelName h1{
    font-size:25px;
    margin-top:12px;
}

.quote{
    text-align: justify; 
    margin-left: 0px;;
    font-size: 22px;
}
.darkmode{
                margin-top: 16px;
                text-align: center;
                font-size: 8px;
                font-family: 'Times New Roman', Times, serif;	
            }
.carousel-inner img {
     width: 100%;
      height: 310px;
 }
 .marathi{
    text-align:center; 
    font-weight:bold;
    font-size: 18px;
}
.Fnames{
    font-size: 24px;
    font-weight:bold;
font-family:'Times New Roman', Times, serif;
}
.karnala {
    height:200px;
    width: 100%;
  }
#karnalla {
    height:200px;
    width: 100%;
  }
  .leftkarnala {
    height: 200px;
  }
  .que{
    font-size: 22px;
    font-weight: 550;
  }
  #liForts{
    margin-left: 0px;
    font-size: 25px;
    font-weight: 600;
  }
  #wplan{
    margin: 0px;
    font-size: 25px;
    font-weight: 600;
  }
  .swamiQuote{
    font-size: 18px; 
    line-height:28px; 
    text-align:center;
}
#relig{
    font-size: 20px;
    text-align:center;
    font-weight: bold;

}
.TempelTitles{
    font-size: 18px;
    font-weight: 600; 
}
.greenHead{
    font-size: 22px;
    text-align:center;
    font-weight: 700;
}
.Waterplace{
    font-size: 22px;
    text-align:center;
    font-weight: 700;
}
.Waterplaces{
    font-size: 20px;
    font-weight: 600;
}
.waterPara{
    font-size: 17px; 
    line-height: 28px; 
    text-align: justify;
}
.formpara{
    font-size: 20px;
    text-align: center; 
    padding-top: 15px; 
}
.formEntity{
    font-size: 20px;
    margin-left: 20px;
}
.forminput{
height: 25px;
margin-left: 10px;
width: 150%;
}
#submitBtn{
    font-size: 18px; 
    width: 120px; 
    margin-left:20px; 
    background: #77b300;
    border:1px solid #77b300;
}

}
